<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.kafka.support.LoggingProducerListener" level="OFF"/>
    <logger name="org.apache.kafka" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
